= yield :before_javascript_libraries
= yield :javascript_libraries
= yield :after_javascript_libraries
- if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  /[if lt IE 7 ]
    <haml:loud> javascript_include_tag 'dd_belatedpng' </haml:loud>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
= yield :javascripts
